<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About us</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <div>
            <h5>About us</h5>
        <h1>We do things differently...</h1>
        <p>We focus on the details of everything we do. All to help businesses around the world focus on what's most important to them. We take pride in this</p>
        </div>
        
    </div>

    <div class="pic">
        <img src="./pexels-artempodrez-7232666.jpg" alt="">
    </div>

    <div class="values-container">
        <h5>Our values</h5>
        <h1>We're an ambitious and smart team <br> who share the same values.</h1>
        <p>Our values keep us connected and guide us as one team.</p>
    </div>

    <div class="gallery-container">
        <div class="gallery div1">
            <img src="./8644321_tick_check_bam_icon.png" alt="">
            <h2>Be excellent with each other</h2>
            <p>We take care of our team, ensuring the team delivers the best quality each time we deliver at no extra cost.</p>
        </div>
        <div class="gallery div2">
            <img src="./8644326_pin_location_map_bam_icon.png" alt="">
            <h2>Value Number #</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consectetur dolorum cumque temporibus ad vitae? Suscipit, aperiam.</p>
        </div>
        <div class="gallery div3">
            <img src="./8644331_lock_locked_security_secure_icon.png" alt="">
            <h2>Value Number #</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consectetur dolorum cumque temporibus ad vitae? Suscipit, aperiam.</p>
        </div>
        <div class="gallery div4">
            <img src="./8644346_calendar_schedule_date_icon.png" alt="">
            <h2>Deliver on Time</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consectetur dolorum cumque temporibus ad vitae? Suscipit, aperiam.</p>
        </div>
    </div>
</body>
</html>